---
let { title = '', subtitle = '', content = '', link1 = '', link2 = '' } = Astro.props;
---

<div class="mt-20">
  <p class="mt-2 text-5xl font-extrabold text-black dark:text-white mb-20 text-center underline">
    {title}
  </p>
</div>
<div class="relative text-center pb-20 max-w-xl mx-auto">
  <div class="px-4 sm:px-6 lg:px-8 pt-10 pb-0">
    <div class="text-center">
      <h2 class="text-md leading-6 font-semibold text-zinc-300 uppercase tracking-wider">
        The Instructor
      </h2>
      <p class="mt-2 text-2xl font-extrabold text-white">{subtitle}</p>
      <p class="mt-3 max-w-3xl mx-auto text-xl text-zinc-300 sm:mt-5">
        {content}
        <a class="underline" href={link1.href}>{link1.text}</a> ,
        <a class="underline" href={link2.href}>{link2.text}</a>
      </p>
    </div>
  </div>
</div>