---
const base_url = "https://bootcamp.dev";
---

<div
  class="mt-20 text-3xl leading-10 font-semibold tracking-wider max-w-7xl mx-auto mb-10 text-zinc-800 dark:text-white px-3 text-center"
>
  How the app looks like, dark and light mode
  <div class="grid gap-4 items-center">
    <img loading="lazy" src=`${base_url}/screen-1.jpg` class="mx-auto mt-10" />
    <img loading="lazy" src=`${base_url}/screen-2.jpg` class="mx-auto mt-10" />
    <img loading="lazy" src=`${base_url}/screen-3.jpg` class="mx-auto mt-10" />
  </div>
</div>
<div
  class="mt-20 text-3xl leading-10 font-semibold tracking-wider max-w-7xl mx-auto mb-10 text-zinc-800 dark:text-white px-3 text-center"
>
  Did I say the app we'll build looks great as a PWA on a phone/tablet?
  <div class="grid md:grid-cols-2 gap-4 items-center">
    <img loading="lazy" src=`${base_url}/ipad.jpg` class="mx-auto mt-10" />
    <img loading="lazy" src=`${base_url}/iphone.jpg` class="mx-auto mt-10" />
  </div>
</div>
